# Dependencies
**/node_modules/

# Angular / build output
**/dist/
**/.angular/
**/coverage/
**/out-tsc/

# Logs
npm-debug.log*
yarn-error.log*

# Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
